<form [formGroup]="addTodo" class="add_toDo_card" (ngSubmit)="addTodoAction()">
  <div>
    <label for="title">Title: </label>
    <input id="title" [formControl]="todoTitle"/>
  </div>
  <div>
    <label for="body">Description:</label>
    <textarea rows="4" id="body" [formControl]="todoBody"></textarea>
  </div>
  <div>
    <p>Select type:</p>
    <div id="type" class="container">
      <input type="radio" id="immediately" class="checkmark" name="type_of_todo" value="immediately" [formControl]="todoType"/>
      <label for="immediately">Do it now!</label>
      <br />
      <input type="radio" class="checkmark"  id="not_immediately" name="type_of_todo" value="not_immediately" [formControl]="todoType"/>
      <label for="not_immediately">Do it later!</label>
      <br />
      <input
        type="radio"
        id="not_immediately_at_all"
        class="checkmark"
        name="type_of_todo"
        value="not_immediately_at_all"
        [formControl]="todoType"
      />
      <label for="not_immediately_at_all">Do it whenever you want!</label>
    </div>
  </div>
  <div class="button_area">
    <input type="submit" id="button" value="Add Todo" [disabled]="addTodo.invalid"/>
  </div>

</form>
