/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E2FEF9;
}

.toDo_body {
  display: flex;
}

.add_toDo_card {
  margin: 5px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  border-radius: 2px;
  background: #9BDEAC;
}

.toDo_card {
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
}

.square{
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid #474A2C ;
  border-radius: 2px;
}

.immediately {
  background: #e55934;
}

.not_immediately {
  background: #fde74c;
}

.not_immediately_at_all {
  background: #9bc53d;
}

.completed {
  background: grey;
  text-decoration: line-through;
}

.text_center {
  text-align: center;
}

.text_wrap{
  overflow-wrap: break-spaces;
}

.d_flex {
  display: flex;
}

.align_items_center {
  align-items: center;
}

.align_items_end {
  align-items: end;
}

.justify_content_between {
  justify-content: space-between;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.w_100 {
  width: 100%;
}
